.category {
	text-align: center;
	margin: 2rem;
}

.category h2 {
	font-size: 40px;
	margin-bottom: 40px;
	color: #fff;
}

.category-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	margin-top: 1.5rem;
	justify-items: center;
}

.routine-btn {
	width: 100%;
	padding: 1.5rem;
	font-size: 1.1rem;
	font-weight: bold;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	background-color: #fdf3dc;
	color: #424141;
	transition: transform 0.2s ease, box-shadow 0.3s ease;
	min-width: 120px;
	min-height: 100px;
	box-sizing: border-box;
	position: relative;
	box-shadow: inset -2px -2px 5px #fff, inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.routine-btn:hover {
	background-color: #fcecc9;
	transform: scale(1.05);
	box-shadow: 0 0 20px rgba(255, 183, 213, 0.5);
}

.routine-btn::after {
	content: '💗';
	position: absolute;
	top: -10px;
	right: -10px;
	font-size: 1.5rem;
	opacity: 0;
	animation: floatUpSoft 5s ease-out forwards;
	pointer-events: none;
}

.routine-btn:hover::after {
	opacity: 1;
}

@keyframes floatUpSoft {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	80% {
		transform: translateY(-20px);
		opacity: 1;
	}
	100% {
		transform: translateY(-30px);
		opacity: 0;
	}
}
