html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: radial-gradient(
		circle at 50% 40%,
		#ef4a8c 0%,
		#fca0c5 40%,
		#fbe8f0 100%
	);
	font-family: 'Pixelify Sans', sans-serif;
}

#root {
	width: 100%;
	height: 100%;

	padding: 2rem 1rem;
	box-sizing: border-box;
}

* {
	font-family: 'Pixelify Sans', sans-serif;
	box-sizing: border-box;
}

button {
	font-family: 'Pixelify Sans', sans-serif;
}
